nav.navbar {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    margin: 20px;
    background-color: @orange;
    z-index: 10;

    .navbar-btn {

        display: inline-block;
        width: auto;
        background: @orange;
        padding: 15px 10px;

        transition: all 200ms ease-in;

        a {
          color: @gray;
          font-size: 20px;
          font-weight: bold;
        }

        &:hover, &.active {
            background: @gray;
            a { color: @orange; }
        }
    }
}
