nav.navbar {

    background-color: @orange;
    height: 50px;
    left: 0;
    margin: 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;

    .navbar-btn {

        display: inline-block;
        width: auto;
        height: 50px;
        background: @orange;
        line-height: 50px;
        padding: 0 10px;

        text-align: center;
        transition: all 200ms ease-in;

        color: @gray;
        font-size: 20px;
        font-weight: bold;

        &:hover, &.active {
            background: @gray;
            color: @orange;
        }
    }
}
